<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.po.mapper.dream.DreamDepositTypeRuleMapper">

    <resultMap id="BaseResultMap" type="org.example.po.dream.dream.DreamDepositTypeRuleDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="BIGINT"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="dppositTypeCode" column="dpposit_type_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="minAmount" column="min_amount" jdbcType="DECIMAL"/>
            <result property="maxAmount" column="max_amount" jdbcType="DECIMAL"/>
            <result property="amountDefault" column="amount_default" jdbcType="VARCHAR"/>
            <result property="charges" column="charges" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,remark,create_time,
        update_time,version,deleted,
        status,dpposit_type_code,name,
        min_amount,max_amount,amount_default,
        charges
    </sql>
</mapper>
