<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.po.mapper.hf.HfGamePlanDetailMapper">
    <resultMap id="BaseResultMap" type="org.example.po.dream.hf.HfGamePlanDetailDO">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="plancode" column="planCode" jdbcType="VARCHAR"/>
        <result property="gameissue" column="gameIssue" jdbcType="VARCHAR"/>
        <result property="mutiple" column="mutiple" jdbcType="INTEGER"/>
        <result property="totamount" column="totamount" jdbcType="INTEGER"/>
        <result property="detailstatus" column="detailStatus" jdbcType="TINYINT"/>
        <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,planCode,gameIssue,
        mutiple,totamount,detailStatus,
        createTime,updateTime
    </sql>
</mapper>
