<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.po.mapper.SaTokenMapper">

    <resultMap id="BaseResultMap" type="org.example.po.system.SaTokenDO">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="key" column="key" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="timeOut" column="time_out" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,key,value,
        create_time,time_out
    </sql>
</mapper>
